<h1><%= title %></h1>
<p>Welcome to <em>Movie Database</em>, a very basic inventory website developed with Express.</p>
<h1>Dynamic content</h1>
<p>The database has the following record counts:</p>
<ul>
    <li><strong>Movies:</strong> <%= movie_count %></li>
    <li><strong>Movie Watchlist:</strong> <%= movie_status_watchlist_count %></li>
    <li><strong>Movie Watched:</strong> <%= movie_status_watched_count %></li>
    <li><strong>Directors:</strong> <%= director_count %></li>
    <li><strong>Genres:</strong> <%= genre_count %></li>
</ul>
