<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <nav>
            <ul class="sidebar-nav-top">
                <li><a href="/catalog">Home</a></li>
                <li><a href="/catalog/movies">Movies</a></li>
                <li><a href="/catalog/directors">Directors</a></li>
                <li><a href="/catalog/genres">Genres</a></li>
                <li>
                    <a href="/catalog/moviestatuses">Movie statuses</a>
                </li>
            </ul>
            <hr />
            <ul class="sidebar-nav-bottom">
                <li>
                    <a href="/catalog/director/create">Create New Director</a>
                </li>
                <li>
                    <a href="/catalog/genre/create">Create New Genre</a>
                </li>
                <li>
                    <a href="/catalog/moviestatus/create">Create New Movie</a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <h1><%= title %></h1>
            <ul class="content-list">
                <% if (director_list.length > 0) { %> <% director_list.map(director => { %>
                <li>
                    <strong><a href="<%= director.url %>"> <%= director.name %></a> </strong>
                    <span> - <%= director.date_of_birth_formatted%></span>
                </li>
                <% }) %> <% } else { %>
                <li>There are no directors in the database.</li>
                <% } %>
            </ul>
        </div>

        <footer>
            <p>Copyright © Laszlo Kis 2023</p>
            <a class="reflink" href="https://github.com/ev0clu" target="_blank">
                <img class="github-img" src="/images/github-logo.png" alt="Github logo" />
            </a>
        </footer>
    </body>
</html>
