<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <%- include('nav_bar') %>
        <div class="content">
            <h1><%= title %></h1>
            <ul class="content-list">
                <% if (genre_list.length > 0) { %> <% genre_list.map(genre => { %>
                <li>
                    <strong><a href="<%= genre.url %>"> <%= genre.name %></a> </strong>
                </li>
                <% }) %> <% } else { %>
                <li>There are no genres in the database.</li>
                <% } %>
            </ul>
        </div>

        <footer>
            <p>Copyright © Laszlo Kis 2023</p>
            <a class="reflink" href="https://github.com/ev0clu" target="_blank">
                <img class="github-img" src="/images/github-logo.png" alt="Github logo" />
            </a>
        </footer>
    </body>
</html>
