<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('nav_bar') %>
        <div class="content">
            <h1><%= title %></h1>
            <p>
                Welcome to <em>Movie Database</em>, a very basic inventory website developed with
                Express.
            </p>
            <p>The database has the following record counts:</p>
            <ul class="content-list">
                <li><strong>Movies:</strong> <%= movie_count %></li>
                <li><strong>Movie Watchlist:</strong> <%= movie_status_watchlist_count %></li>
                <li><strong>Movie Watched:</strong> <%= movie_status_watched_count %></li>
                <li><strong>Directors:</strong> <%= director_count %></li>
                <li><strong>Genres:</strong> <%= genre_count %></li>
            </ul>
        </div>

        <footer>
            <p>Copyright © Laszlo Kis 2023</p>
            <a class="reflink" href="https://github.com/ev0clu" target="_blank">
                <img class="github-img" src="/images/github-logo.png" alt="Github logo" />
            </a>
        </footer>
    </body>
</html>
