<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <nav>
            <ul class="sidebar-nav-top">
                <li><a href="/catalog">Home</a></li>
                <li><a href="/catalog/movies">Movies</a></li>
                <li><a href="/catalog/directors">Directors</a></li>
                <li><a href="/catalog/genres">Genres</a></li>
                <li>
                    <a href="/catalog/moviestatuses">Movie statuses</a>
                </li>
            </ul>
            <hr />
            <ul class="sidebar-nav-bottom">
                <li>
                    <a href="/catalog/director/create">Create New Director</a>
                </li>
                <li>
                    <a href="/catalog/genre/create">Create New Genre</a>
                </li>
                <li>
                    <a href="/catalog/moviestatus/create">Create New Movie</a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <h1>Title: <%= movie.title %></h1>
            <p>
                <strong>Director:</strong>
                <a href="<%= movie.director.url %>"><%= movie.director.name %></a>
            </p>
            <p><strong>Summary:</strong> <%= movie.summary %></p>
            <p>
                <strong>Genre:</strong>
                <% for (let index = 0; index < movie.genre.length; index++) { %>
                <a href="<%= movie.genre[index].url %>"><%= movie.genre[index].name %></a>
                <% if (index < movie.genre.length - 1) { %> , <% } %> <% } %>
            </p>
            <div>
                <p>
                    <strong>Status: </strong>
                    <% if (movie_statuses.length > 0) { %> <% movie_statuses.forEach((val) => { %>
                    <% if (val.status == 'Watched') { %>
                    <span class="text-watched"><%= val.status %></span>
                    <% } else if (val.status == 'Watchlist') { %>
                    <span class="text-watchlist"><%= val.status %></span>
                    <% } else { %>
                    <span class="text-watch-again"><%= val.status %></span>
                    <% } %> <% if (val.status === 'Watched') { %>
                </p>
                <hr />
                <p><strong>Watched date:</strong> <%= val.due_date_formatted %></p>
                <% } %>
                <p>
                    <strong>Id:</strong>
                    <a href="<%= val.url %>"><%= val._id %></a>
                </p>
                <% })} %>
            </div>
        </div>

        <footer>
            <p>Copyright © Laszlo Kis 2023</p>
            <a class="reflink" href="https://github.com/ev0clu" target="_blank">
                <img class="github-img" src="/images/github-logo.png" alt="Github logo" />
            </a>
        </footer>
    </body>
</html>
