<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <%- include('nav_bar') %>
        <div class="content">
            <h1>Title: <%= movie.title %></h1>
            <p>
                <strong>Director:</strong>
                <a href="<%= movie.director.url %>"><%= movie.director.name %></a>
            </p>
            <p><strong>Summary:</strong> <%= movie.summary %></p>
            <p>
                <strong>Genre:</strong>
                <% for (let index = 0; index < movie.genre.length; index++) { %>
                <a href="<%= movie.genre[index].url %>"><%= movie.genre[index].name %></a>
                <% if (index < movie.genre.length - 1) { %> , <% } %> <% } %>
            </p>
            <div>
                <p>
                    <strong>Status: </strong>
                    <% if (movie.status == 'Watched') { %>
                    <span class="text-watched"><%= movie.status %></span>
                    <% } else if (movie.status == 'Watchlist') { %>
                    <span class="text-watchlist"><%= movie.status %></span>
                    <% } else { %>
                    <span class="text-watch-again"><%= movie.status %></span>
                    <% } %>
                </p>
                <p><strong><%= movie.status %> date:</strong> <%= movie.date_formatted %></p>
                <p>
                    <a href="<%= movie.url %>/delete">Delete movie</a>
                </p>
                <p>
                    <a href="<%= movie.url %>/update">Update movie</a>
                </p>
            </div>
        </div>

        <footer>
            <p>Copyright © Laszlo Kis 2023</p>
            <a class="reflink" href="https://github.com/ev0clu" target="_blank">
                <img class="github-img" src="/images/github-logo.png" alt="Github logo" />
            </a>
        </footer>
    </body>
</html>
